.section2 {
    min-height: 500px;
    width: 100%;
}
.section2 .content {
    min-height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section2 .content .card {
    height: 400px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 50px #f2f2f2;
    overflow: hidden;
}
.section2 .content .card .image {
    height: 240px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 20px;
}
.section2 .content .card .image img {
    height: auto;
    width: 50%;
}
.section2 .content .card .text {
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section2 .content .card .order {
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section2 .content .card .order form button {
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 0.3rem 1rem;
    background: none;
    border-radius: 1000px;
    cursor: pointer;
}
.section2 .content .card .order h4 span {
    color: black;
    font-size: 10px;
}
/* section two  */

.section3 .content {
    margin: 20px 0 0 0;
}
.section3 .content h3 {
    padding: 50px 0 10px 0;
}
@media screen and (max-width: 1800px) {
    .section2 .content .card {
        height: 360px;
    }
    .section2 .content .card .image {
        height: 200px;
    }
}
@media screen and (max-width: 1500px) {
    .section2 .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .section2 .content .card {
        height: 300px;
    }
    .section2 .content .card .image {
        height: 180px;
    }
    .section2 .content .card .text {
        height: 60px;
    }
    .section2 .content .card .order {
        height: 60px;
    }
}
@media screen and (max-width: 1150px) {
    .section2 .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 840px) {
    .section2 .content {
        grid-template-columns: 1fr 1fr ;
        width: 550px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 590px) {
    .section2 .content {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .section2 .content .card{
        width: 250px;
        margin: 10px auto;
    }
}
